<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ds1.mapper.PersonMapper">
<select id="getPersonAll" resultType="org.ds1.model.Person">
		select
		*
		FROM person
	</select>
</mapper>